*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
}

.container{
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  transition: all .2s linear;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 80px;
  background-color: #000;
}

.container .profile-top{
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .profile-top .profile-icon {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #000;
  border: 1px solid #fff;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
}

.container .profile-top .profile-information{
  width: 75%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  color: #fff;
  flex-direction: column;
}

.container .profile-top .profile-information .name{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.container .profile-top .profile-information .name .profile-status{
  background-color: green;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  border-radius: 10px;
}

.container .profile-top .profile-information h1{
  font-size: 50px;
}

.container .profile-top .profile-information h4{
  color: grey;
  letter-spacing: 2px;
}

.container .profile-content{
  width: 100%;
  height: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container .profile-content .box{
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.container .profile-content .data{
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .profile-content .data .candidateName {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}